* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
	background: black;
}

.postcard {
	display: flex;
	flex-direction: column;
	background: white;
	color: black;
	width: 400px;
	height: 300px;
	margin: auto;
	border-radius: 12px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}
